<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">


</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Rahul Online Exam Portal</a>
    </div>

         <ul class="navbar-nav ">
             <li><a href="/java">Java Exam</a></li>
             <li><a href="/python">Python Exam</a></li>
             <li><a href="/django">Django Exam</a></li>
         </ul>
    <ul class="nav navbar-nav navbar-right">
      <li> <a href="#" >Signup</a> </li>
        <li> <a href="/accounts/login/" >Login</a> </li>
        <li> <a href="/accounts/logout/" >Logout</a> </li></ul>
    </div>
</nav>
{%block body_block%}
{%endblock%}

</body>
</html>